nodered.js
[{"id":"23fe9eb4.dc0162","type":"http response","name":"","x":873,"y":166,"z":"5b211ae3.a4dee4","wires":[]},{"id":"2e9c08b7.d163f8","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<!--[if IE 9]><html class=\"lt-ie10\" lang=\"en\" > <![endif]-->\n<html class=\"no-js\" lang=\"en\" >\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BlueXlate</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/BluemixCloud/calculator/master/style.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js\"></script>\n</head>\n<body>\n    \n    <div class=\"row\">\n        <div class=\"small-12 columns\">\n            <h1><a href=\"/translator\">BlueXlate</a></h1>\n\n            <div class=\"panel radius\">\n                <form method=\"post\" action=\"/translator\">\n                  <div class=\"row\">\n                    <div class=\"small-5 columns\">\n                        <input type=\"text\" placeholder=\"Where am I?\" name=\"phrase\" value=\"{{req.body.phrase}}\">\n                    </div>\n                    <div class=\"small-2 columns\">\n                        <button type=\"submit\" class=\"tiny radius success\">Translate</button>\n                    </div>\n                    <div class=\"small-5 columns\">\n                        <input type=\"text\" disabled value=\"{{payload}}\">\n                    </div>\n                  </div>\n                </form>\n            </div>\n\n        </div>\n    </div>\n    \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js\"></script>\n    <script>\n    $(document).foundation();\n    </script>\n    <script src=\"https://rawgit.com/BluemixCloud/calculator/master/main.js\"></script>\n</body>\n</html>\n","x":737,"y":91,"z":"5b211ae3.a4dee4","wires":[["23fe9eb4.dc0162"]]},{"id":"c81a923a.37e57","type":"http in","name":"","url":"/translator","method":"get","swaggerDoc":"","x":148,"y":93,"z":"5b211ae3.a4dee4","wires":[["5a435c09.a5bca4"]]},{"id":"8b949420.746b68","type":"watson-translate","name":"","srclang":"en","destlang":"fr","domain":"conversational","x":544,"y":222,"z":"5b211ae3.a4dee4","wires":[["2e9c08b7.d163f8"]]},{"id":"41534b48.beacb4","type":"http in","name":"","url":"/translator","method":"post","swaggerDoc":"","x":150,"y":222,"z":"5b211ae3.a4dee4","wires":[["1b067c63.e4f984"]]},{"id":"1b067c63.e4f984","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.phrase"}],"action":"","property":"","from":"","to":"","reg":false,"x":341,"y":222,"z":"5b211ae3.a4dee4","wires":[["8b949420.746b68"]]},{"id":"5a435c09.a5bca4","type":"function","name":"","func":"msg.payload = '';\nreturn msg;\n","outputs":1,"noerr":0,"x":357,"y":92,"z":"5b211ae3.a4dee4","wires":[["2e9c08b7.d163f8"]]}]
